<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/login.css">
    <title>Login</title>
</head>
<body>
    <h1>welcome</h1>
    <div id="map">
        <!-- <div class="block"><div id="player"></div></div> -->
        
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripe/login.js"></script>
</html>